button:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}

.dt-description {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey
}

.dt-title {
    font-size: 16px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dt-part {
    display: 'flex';
    flex-direction: column;
    /* margin-top: 5px; */
}

.dt-item {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.dt-item-title {
    width: 40%;
    font-size: 14px;
    font-weight: 500;
}

.dt-item-text {
    font-size: 14px;
    font-weight: 500;
}

.dt-show-button {
    display: inline-flex;
    width: 40%;
    border: none;
    background-color: white;
    margin-top: 10px;
    margin-left: -5px;
}

.dt-room-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.ps-container {
    display: flex;
    flex-direction: column;
    widows: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

.ps-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    widows: 100%;
    padding: 20px;
}

.mortage-rate {
    display: 'flex';
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 120px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
}

.pf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid grey;
}

.ps-avatar {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    object-fit: cover;
}

.ps-buttons {
    /* width: 200px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.si-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.si-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20);
    height: 25px;
    background-color: #BBB;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.si-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(50% - 16);
    height: 20px;
    background-color: white;
    border-radius: 2px;
    border: none;
    /* box-shadow: none; */
}

.si-scrollview {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}

.sd-wrapper {
    display: flex;
    width: 230px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sd-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: white;
    border: none;
}

.sd-image {
    display: flex;
    width: 100%;
    height: 90px;
    border-radius: 5px;
    object-fit: cover;
}

.sd-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110px;
}

.sd-details-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    width: 100%;
    height: 15px;
}

.sd-details-title {
    width: 30%;
    font-size: 10px;
    font-weight: 'bold';
    text-align: left;
    text-decoration-line: line-through;
}

.sd-details-title-line {
    width: 30%;
    font-size: 10px;
    font-weight: 'bold';
    text-align: left;
}

.sd-details-sold {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    font-size: 10px;
    font-weight: 'bold';
    color: #EA4A4A;
}

.sd-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 9px;
    width: 100%;
    height: 15px;
    border-radius: 3px;
}

.sd-details-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 15px;
}


.de-main-panel {
    display: flex;
    flex-direction: 'row';
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 51px);
    /* padding: 10px 10px; */
    background-color: white;
    overflow: hidden;
}
.de-main-panel1 {
    display: flex;
    flex-direction: 'row';
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 51px);
    /* padding: 10px 10px; */
    background-color: white;
    overflow: hidden;
}

.de-left-panel {
    display: flex;
    flex-direction: column;
    /* width: calc(100% - 430px); */
    height: 100%;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}
.de-left-panel1 {
    display: flex;
    flex-direction: column;
    /* width: calc(100% - 430px); */
    height: 100%;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

.de-right-panel {
    display: flex;
    justify-content: flex-start;
    width: 370px;
    height: calc(100vh - 51px);
    /* padding: 50px 0 10px 25px; */
}
.de-right-panel1 {
    display: flex;
    justify-content: flex-start;
    width: 370px;
    height: calc(100vh - 51px);
    /* padding: 50px 0 10px 25px; */
}

.de-wrapper {
    max-width: 975px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
    -webkit-transition: box-shadow .2s linear;
    -moz-transition: box-shadow .2s linear;
    -ms-transition: box-shadow .2s linear;
    -o-transition: box-shadow .2s linear;
    transition: box-shadow .2s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1 auto;
}
.de-wrapper1 {
    max-width: 975px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
    -webkit-transition: box-shadow .2s linear;
    -moz-transition: box-shadow .2s linear;
    -ms-transition: box-shadow .2s linear;
    -o-transition: box-shadow .2s linear;
    transition: box-shadow .2s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1 auto;
}

.de-modal-main {
    width: 600px;
    height: 90vh;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px 10px;
}

.de-modal-main::-webkit-scrollbar {
    display: none;
}

.de-profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px;
}