button:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}

.components-auth-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8000;
}
.components-auth-modal {
    display: flex;
    flex-direction: column;
    width: 450px;
    max-height: 650px;
    height: 650px;
    background-color: #E3E3E3;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
}
.components-auth-close-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border: none;
    background-color: transparent;
}
.components-auth-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}
.components-auth-input-title {
    display: flex;
    width: 100%;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    margin: 10px 40px 5px 40px;
}
.components-auth-input-wrapper {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 40px;
}
.components-auth-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: -1px;
    margin-left: -1px;
}
.components-auth-input-box {
    border: none;
    height: 100%;
    background-color: white;
    width: calc(100% - 40px);
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    color: black;
    padding: 5px;
}
.components-auth-error {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    color: red;
    margin: 5px 40px 5px 40px;
}
.components-auth-submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #0073E4;
    border-radius: 3px;
    border: none;
    margin-top: 30px;
}
.components-auth-submit-button:hover {
    background: rgb(57, 140, 223);
}
.components-auth-submit-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.components-auth-policy-text {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}
.components-auth-policy-text>a {
    color: blue;
}
.components-auth-facebook-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #C4DAF0;
    border-radius: 3px;
    border: none;
    margin-top: 30px;
}
.components-auth-facebook-button:hover {
    background: rgb(156, 195, 235);
}
.components-auth-facebook-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0072DC;
}
.components-auth-google-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #F0C4C4;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
}
.components-auth-google-button:hover {
    background: rgb(235, 153, 153);
}
.components-auth-google-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #EA5050;
}

.components-header-wrapper {
    height: 51px;
    /* z-index: 1020; */
    display: flex;
    border-bottom: solid 0.75px #A5A5A5;
    background-color: white;
    justify-content: center;
}
.components-header-main {
    max-width: 975px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 50px;
    /* z-index: 1020; */
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
    -webkit-transition: box-shadow .2s linear;
    -moz-transition: box-shadow .2s linear;
    -ms-transition: box-shadow .2s linear;
    -o-transition: box-shadow .2s linear;
    transition: box-shadow .2s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1 auto;
}
.components-header-left-username {
    font-size: 20px;
    font-weight: bold;
    color: #626262;
}
.components-header-center {
    list-style-type: none;
    margin-top: 10px;
}
.components-header-search-input {
    width: 300px;
    height: 30px;
    text-align: center;
    font-weight: 400;
    color: #B1B1B1;
    background-color: #F1F1F1;
    border: 0.75px solid #AAAAAA;
    border-radius: 3px;
}
.components-header-search-result {
    display: flex;
    flex-direction: column;
    top: 50px;
    width: 300px;
    height: 400px;
    background-color: white;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    overflow-y: scroll
}
.components-header-search-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding: 5px;
}
.components-header-search-item:hover {
    background-color: lightgrey;
    cursor: pointer;
}
.components-header-search-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: white;
    top: 50px;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.components-header-right {
    display: flex;
    justify-content: center;
}
.components-header-right-button {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
.components-header-right-button>span {
    margin-top: 5px;
    font-size: 11px;
    font-weight: 400;
    color: #494949;
    white-space: nowrap;
}