.mobile-display-none {
    display: flex;
}
.mobile-header-wrapper {
    display: none;
}
.mobile-popup-wrapper {
    display: none;
}
.mobile-popup-container {
    display: none;
}
.mobile-popup-header {
    display: none;
}
.mobile-popup-main {
    display: none;
}
.mobile-popup-items {
    display: none;
}
.mobile-home-header {
    display: none;
}
.mobile-tabs-button {
    display: none;
}
.mobile-filter-header {
    display: none;
}
.modal-wrapper>div.mobile-buttons {
    display: none;
}
.mobile-marker-detail1 {
    display: none;
}
.mobile-marker-detail2 {
    display: none;
}
.mobile-marker-detail3 {
    display: none;
}