.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.horizontal-center {
    justify-content: center;
}

.vertical-center {
    align-items: center;
}

.navbar-center {
    list-style-type: none;
    margin-top: 10px;
    
}

.loading-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hd-search-view {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: white;
    top: 50px;
    margin-top: 5px;
    /* padding: 10px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    overflow-y: scroll
}

.hd-empty-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: white;
    top: 50px;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.hd-search-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding: 5px;
}

.hd-search-item:hover {
    background-color: lightgrey;
    cursor: pointer;
}